<div class="container-fluid">
  <main>
    <header class = "jumbotron" id = "catheader" ng-style="{'background-image': 'url(' + vm.recipe.photo_url+ '), url('+ vm.category.image_url+ ')'}"> 
      <h1><strong>{{vm.recipe.title}}</strong></h1>
    </header>
<span class="col-md-4">Servings :{{vm.recipe.servings}}</span>
<span class="col-md-4">Calories :{{vm.recipe.calories}}</span>
<span class="col-md-4">Ratings :{{vm.recipe.ratings}}</span>

<h1></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <div></div>
      <span ng-hide="ingredients.showAdd">
      <th colspan="3"></th>
      <tr data-ng-repeat="ingredient in vm.ingredients">
        <td tabindex="1">{{ingredient.amount}} {{ingredient.measurement}} {{ingredient.component}}</td>
     </tr>
      </thead>
    </table>
    <div>
      {{vm.recipe.instructions}}
    </div>
    <span>
     <button data-ui-sref="categoryShow({id: vm.recipe.category_id})" class="btn updatebtn">Back</button>    <button ng-click="ingredients.showAdd = !ingredients.showAdd" class="btn createbtn">  Add New Ingredient </button>
   </span>
        <span ng-show="ingredients.showAdd">
          <input type="text" ng-model="vm.new_ingredient.component" placeholder="Enter Ingredient" >
          <input type="text" ng-model="vm.new_ingredient.amount" placeholder="Enter Amount" >
          <!-- <input type="radio" name="gender" ng-model="user.gender" ng-value="otherGender">{{otherGender}} -->
          <!-- <button class="createbtn" data-ng-click="vm.create()">Add Ingredient</button> -->
          <button class="createbtn" data-ng-click="vm.create(); ingredients.showAdd = !ingredients.showAdd">Add Ingredient {{ingredients.showAdd}}</button>
       </span>
  </main>
</div>
