<div class="container-fluid">
  <main>
    <div>{{vm}}</div>
<h1><strong>{{vm.recipe.title}}</strong></h1>
<span class="col-md-4">Servings :{{vm.recipe.servings}}</span>
<span class="col-md-4">Calories :{{vm.recipe.calories}}</span>
<span class="col-md-4">Ratings :{{vm.recipe.ratings}}</span>

<h1></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <div></div>
      <th>{{vm.recipes}}</th>
      <th colspan="3"></th>
      <tr data-ng-repeat="ingredient in vm.ingredients">
        <td tabindex="1">{{ingredient.amount}} {{ingredient.measurement}} {{ingredient.component}}</td>
     </tr>
      </thead>
    </table>
    <div>
    </div>
  </main>
</div>
