<div class="container-fluid">
  <main>
    <!-- <div>{{vm}}</div> -->
<header class = "jumbotron" id = "catheader" ng-style="{'background-image': 'url(' + vm.category.image_url+ ')'}">
  <h1><strong>{{vm.category.Cat_name}}</strong></h1>
</header>

<h1>Recipes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <div></div>
      <!-- <th>{{vm.recipes}}</th> -->
      <th colspan="3"></th>
        <tr data-ng-repeat="recipe in vm.recipes">
          <td>{{$index + 1}}.
            <span ng-hide="recipe.showEdit">
              <a data-ui-sref="recipeShow({id: recipe.id, category_id: vm.category.id})" tabindex="1" class="large_blue">{{recipe.title}}</a>
                <span class="btn-group pull-right row">
                  <span class="col-md-3">
                    <button ng-click="category.showEdit = !category.showEdit" class="btn editbtn">  Edit </button>
                  </span>
                  <span class="col-md-1"></span>
                    <span class="col-md-3">
                     <button class="btn deletebtn" data-ng-click="vm.destroy($index)">Delete</button>
                    </span>
                  </span>
                </span>
              </span>
              <span ng-show="recipe.showEdit">
                <input type="text" ng-model="recipe.title">
                <button ng-click="vm.update(recipe)">Update</button>
             </span>
          </td>
        <!-- <td>{{$index + 1}}. <a data-ng-href="{{recipe.title}}" tabindex="1" class="large_blue">{{recipe.title}}</a></td> -->
       </tr>
     </tr>
     <tr>
       <td>
         <input type="text" data-ng-model="vm.new_recipe.title" placeholder="Enter New Recipe" /><sp> </sp><button class="createbtn" data-ng-click="vm.create()">Create</button>
       </td>
     </tr>
   </thead>
  </table>
</main>
</div>
